:root {
  --color-primary-darkblue: #0f1025;
  --color-primary-light: #FFFFFF;
  --color-secondary-dark: #a28268;
/*   --color-brand-dark: #465929;
  --color-brand-normal: #819b57; */
  --color-brand-light: #cfcfbc;
  --color-brand-orange: #f15a24;
  --color-brand-darkgrau: #00282e;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
