.input__control {
  padding: 8px 24px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-dark-secondary);
  border-radius: 0;                  /* было 8px */
  background-color: transparent;
  color: var(--color-light);
}

.input__control:focus {
  border-color: var(--color-teal);
  outline: none;
}

.input__control::placeholder {
  color: var(--color-dark-secondary);
  font-size: 16px;
  line-height: 1.17;
}

.input__control:focus::placeholder {
  color: var(--color-light);
}

@media screen and (min-width: 768px) {
  .input__control {
    padding: 16px 42px;
  }
}