.hero-section {
  padding: 124px 0;
  background: linear-gradient(140deg, #1a4a6a 0%, #134158 10%, #0a3049 20%, #071c2f 30%, #020815 45%, #010410 60%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    padding: 272px 0;
  }

  &__title {
    margin-bottom: 48px;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 67px;
    line-height: 1;
    font-weight: 900;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 0;
      font-size: 128px;
      line-height: 1.5;
    }
  }

  &__button {
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
